Repository Smilo-dev2022/kasi-fiber-deployment-management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-org/security, @your-org/engineering-leads, @your-org/backend, @your-org/frontend

.github/CODEOWNERS:

# Replace placeholder teams with your actual org teams
* @your-org/security @your-org/engineering-leads

# Security-related changes
.github/** @your-org/security
docs/** @your-org/security

# Backend ownership
app/** @your-org/backend
server/** @your-org/backend

# Frontend ownership
client/** @your-org/frontend

# Database & migrations
alembic/** @your-org/backend
supabase/** @your-org/backend
sql/** @your-org/backend

Add current functionalities section to README
  README.md
Owners: @your-org/security, @your-org/engineering-leads

feat: Add CI, invoices, and test plan
  .github/workflows/ci.yml
  Makefile
  README.md
  TESTPLAN.md
  app/main.py
  app/routers/invoices.py
  app/routers/tasks.py
  integration/examples/webhooks/librenms.json
  integration/examples/webhooks/zabbix.json
  scripts/seed.py
  vercel.json
Owners: @your-org/security, @your-org/engineering-leads, @your-org/backend

feat: Add CI, invoices, and test plan (#111)
  .github/workflows/ci.yml
  Makefile
  README.md
  TESTPLAN.md
  app/main.py
  app/routers/invoices.py
  app/routers/tasks.py
  integration/examples/webhooks/librenms.json
  integration/examples/webhooks/zabbix.json
  scripts/seed.py
  vercel.json
Owners: @your-org/security, @your-org/engineering-leads, @your-org/backend

Add current functionalities section to README (#110)
  README.md
Owners: @your-org/security, @your-org/engineering-leads

Refactor: Support base64 JWT secrets and add utility functions
  .gitignore
  README.md
  app/core/auth.py
  server/middleware/auth.js
  server/routes/auth.js
  server/utils/jwtSecret.js
  supabase/functions/node-express/middleware/auth.js
  supabase/functions/node-express/routes/auth.js
  supabase/functions/node-express/utils/jwtSecret.js
Owners: @your-org/security, @your-org/engineering-leads, @your-org/backend

feat: Add legacy JWT secret support
  README.md
  app/core/auth.py
  docs/secrets.md
  server/middleware/auth.js
  server/routes/auth.js
  supabase/functions/node-express/middleware/auth.js
  supabase/functions/node-express/routes/auth.js
Owners: @your-org/security, @your-org/engineering-leads, @your-org/backend

feat: Add JWT claims, caching, and performance improvements
  alembic/versions/0015_perf_indexes_and_cache.py
  app/core/auth.py
  app/core/cache.py
  app/core/deps.py
  app/core/limiter.py
  app/main.py
  app/routers/pons_geofence.py
  app/routers/reports.py
  app/routers/tasks.py
  app/routers/tests_plans.py
  app/routers/work_queue.py
  server/index.js
  server/middleware/auth.js
Owners: @your-org/backend

Refactor: Implement JWT-based org/tenant scoping and role checks
  alembic/__pycache__/env.cpython-313.pyc
  alembic/versions/0015_org_tenant_indexes.py
  app/__pycache__/__init__.cpython-313.pyc
  app/core/__pycache__/deps.cpython-313.pyc
  app/core/auth.py
  app/core/deps.py
  app/core/limiter.py
  app/main.py
  app/routers/certificate_acceptance.py
  app/routers/incidents.py
  app/routers/pay_sheets.py
  app/routers/reports.py
  app/routers/tasks.py
  app/routers/tests_plans.py
  app/routers/work_queue.py
  scripts/migrate.sh
Owners: @your-org/backend, @your-org/security, @your-org/engineering-leads

feat: Add CI, release workflows, Makefile, and testplan
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Makefile
  README.md
  TESTPLAN.md
  app/routers/pons_geofence.py
  scripts/run_testplan.sh
  scripts/seed.py
  vercel.json
Owners: @your-org/security, @your-org/engineering-leads, @your-org/backend

feat: Add auth service, e2e tests, and setup for local dev
  Makefile
  TESTPLAN.md
  client/package.json
  client/src/App.test.js
  client/src/setupTests.js
  infra/docker-compose.yml
  package.json
  playwright.config.ts
  requirements.txt
  server/Dockerfile
  server/index.js
  server/scripts/seed-user.js
  tests-e2e/login.spec.ts
  tests/test_health.py
Owners: @your-org/security, @your-org/engineering-leads, @your-org/frontend, @your-org/backend

feat: Add auth service, e2e tests, and setup for local dev (#118)
  Makefile
  TESTPLAN.md
  client/package.json
  client/src/App.test.js
  client/src/setupTests.js
  infra/docker-compose.yml
  package.json
  playwright.config.ts
  requirements.txt
  server/Dockerfile
  server/index.js
  server/scripts/seed-user.js
  tests-e2e/login.spec.ts
  tests/test_health.py
Owners: @your-org/security, @your-org/engineering-leads, @your-org/frontend, @your-org/backend

feat: Add API proxy to external backend
  api/[...path].js
  vercel.json
Owners: @your-org/security, @your-org/engineering-leads

Configure Vercel for static build and routing
  vercel.json
Owners: @your-org/security, @your-org/engineering-leads

Remove API rewrite rule from vercel.json
  vercel.json
Owners: @your-org/security, @your-org/engineering-leads

feat: Add API proxy to external backend (#119)
  api/[...path].js
  vercel.json
Owners: @your-org/security, @your-org/engineering-leads

Docs: Add report on Docker Hub rate limit blocking system test
  docs/final-report.md
Owners: @your-org/security

feat: Add vercel.json configuration
  vercel.json
Owners: @your-org/security, @your-org/engineering-leads

Add .dockerignore to exclude build artifacts and dependencies
  .dockerignore
Owners: @your-org/security, @your-org/engineering-leads

Docs: Add report on Docker Hub rate limit blocking system test (#121)
  docs/final-report.md
Owners: @your-org/security

Add .dockerignore to exclude build artifacts and dependencies (#122)
  .dockerignore
Owners: @your-org/security, @your-org/engineering-leads

Refactor API proxy and add CI workflows
  .github/workflows/api-lint.yml
  .github/workflows/client-build.yml
  .vercelignore
  client/public/health.html
  client/src/api/client.js
  vercel.json
Owners: @your-org/security, @your-org/engineering-leads, @your-org/frontend

Configure Vercel for client-side build and API rewrites
  vercel.json
Owners: @your-org/security, @your-org/engineering-leads

Refactor: Update CI and Vercel config for API proxy
  .github/workflows/ci.yml
  .vercelignore
  api/[...path].js
  client/public/health.html
  client/src/api/client.js
  vercel.json
Owners: @your-org/security, @your-org/engineering-leads, @your-org/frontend

Downgrade React and related packages to stable versions
  client/package-lock.json
Owners: @your-org/frontend

Restructure and deploy client to Vercel (#124)
  .github/workflows/ci.yml
  .vercelignore
  api/[...path].js
  client/package-lock.json
  client/public/health.html
  client/src/api/client.js
  vercel.json
Owners: @your-org/security, @your-org/engineering-leads, @your-org/frontend

Add Vercel deployment workflow to GitHub Actions
  .github/workflows/vercel-deploy.yml
Owners: @your-org/security
